<div class="container">
        <div class="row">
            <p>We are very delighted to see your intresrest in investing into Agriculture. Please fill the application form below.
            </p>
        </div>
        <div class="card row center">
            <div class="col s12 m10">
                <div class="input-field green-text">
                    <input type="text" class=" white-text" id="name" for="name">
                    <label for="name" class="green-text">Full Name:</label>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="input-field">
                    <input type="text" id="name" class="green-text" for="name">
                    <label for="name" class="green-text">Address:</label>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="input-field">
                    <input type="text" id="name" class="green-text" for="name">
                    <label for="name" class="green-text">Email:</label>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="input-field">
                    <input type="number" id="name" class="green-text" for="name">
                    <label for="name" class="green-text">Telephone:</label>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="input-field">
                    <input type="number" id="name" class="green-text" for="name">
                    <label for="name" class="green-text">Optional Tele:</label>
                </div>
            </div>
            <div class="col s12 m10">
                <div class="input-field">
                    <input type="number" id="name" class="green-text" for="name">
                    <label for="name" class="green-text">Select the product you want to invest in</label>
                </div>
            </div>
            <div class="col s6 m2 offset-m10">
                <a href="app.apk"><button class = "green white-text"> Download App</button></a>
            </div>
        </div>
    </div>