 <!---------- Navigation---------->
 <div class="navbar-fixed">
        <nav class="light-green">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img src="images/Agric-Biz-Logo-Transparent.png" alt=""></a>
                    <a href="#" data-target="mobile-view" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="/">Products</a>
                        </li>
                        <li>
                            <a href="/invest">Invest</a>
                        </li>
                        <li>
                            <a href="/farmers">Farmers</a>
                        </li>
                        <li>
                            <a href="#gallery">Donate</a>
                        </li>
                        <li>
                            <a href="/about">About Us</a>
                        </li>
                    </ul>

                    
                </div>
            </div>

            <ul class="sidenav" id="mobile-view">
                    <li>
                        <a href="/">Products</a>
                    </li>
                    <li>
                        <a href="/invest">Invest</a>
                    </li>
                    <li>
                        <a href="/farmers">Farmers</a>
                    </li>
                    <li>
                        <a href="#gallery">Donate</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                </ul>
        </nav>
    </div>
    
   
    <!--- Slider -->
    <section class="slider">
        <ul class="slides">
            <li>
                <img src="images/sliderImg/im1.jpg" class="responsive-img below" alt="">
                <div class="caption center-align">
                    <h3>Conservative Lands</h3>
                    <h5 class="light grey-text text-lighten hide-on-small-only">Bintumani Mountain</h5>
                </div>
            </li>
            <li>
                <img src="images/sliderImg/goat1.jpg" class="responsive-img" alt="">
                <div class="caption right-align">
                    <h3>Goats</h3>
                    <h5 class="light grey-text text-lighten hide-on-small-only">Goat meats</h5>
                </div>
            </li>
            <li>
                <img src="images/sliderImg/im3.jpg" alt="">
                <div class="caption left-align">
                    <h3>Cultilvating Land</h3>
                    <h5 class="light grey-text text-lighten hide-on-small-only">Farmers in Kenema tilling the farm</h5>
                </div>
            </li>
            <li>
                <img src="images/sliderImg/cow.png" class="responsive-img" alt="">
                <div class="caption center-align">
                    <h3>Cow </h3>
                    <h5 class="light grey-text text-lighten hide-on-small-only">Cattle Rearing in Kabala</h5>
                </div>
            </li>
            <li>
                <img src="images/sliderImg/im4.jpg" class="responsive-img" alt="">
                <div class="caption right-align">
                    <h3>Plainting Green</h3>
                    <h5 class="light grey-text text-lighten hide-on-small-only">household farming</h5>
                </div>
            </li>
            <li>
                <img src="images/sliderImg/m4.jpg" alt="">
                <div class="caption left-align">
                    <h3>Cocao Harvest</h3>
                    <h5 class="light grey-text text-lighten hide-on-small-only">Youths processing cocao after haverst</h5>
                </div>
            </li>
        </ul>
    </section>





























<!-- <header>
    <nav class="nav-wrapper green darken-1">
        <div class="container">
            <a href="#" class="brand-logo"> -->
                <!-- <img src="images/TeCloud-Logo-Transparent.png" alt="Agric-Bis" class="responsive-img"> -->
            <!-- </a>
            <a href="#" class="sidenav-trigger" data-target="mobile-list-view">
                <i class="material-icons">menu</i>
            </a> -->
        
            <!-- <ul class="right hide-on-med-and-down">
                <li><a href="/">Products</a></li>
                <li><a href="/farmers">Farmers</a></li>
                <li><a href="/feedback">Feedback</a></li>
                <li><a>Invest</a></li>
                <li><a>Donate</a></li>
                <li><a href="/about">About</a></li>
            </ul> -->
        
            <!-- mobile menu view -->
            <!-- <ul class="sidenav" id="mobile-list-view">
                <li><a>Products</a></li>
                <li><a>Farmers</a></li>
                <li><a>Invest</a></li>
                <li><a>Donate</a></li>
                <li><a>About</a></li>
            </ul>
        </div>
    </nav> -->


    <!-- images slider -->
    <!-- <div class="slider">
        <ul class="slides">
            <li>
                <img src="images/farmImg/images (17).jpg" alt="">
                <div class="caption center-align">
                    <h3>Fresh Food Products</h3>
                    <h5 class="light grey-text text-lighten-3">you can get fresh products directly from the farm</h5>
                </div>
            </li>
            <li>
                <img src="images/farmImg/images (26).jpg" alt="">
                <div class="caption left-align">
                    <h3>Invest Today</h3>
                    <h5 class="light grey-text text-lighten-3">Investments grow 20% a year</h5>
                </div>
            </li>
            <li>
                <img src="images/farmImg/images (33).jpg" alt="">
                <div class="caption right-align">
                    <h3>Donation</h3>
                    <h5 class="light grey-text text-lighten-3">we need donation to help the farmers with fertilizers</h5>
                </div>
            </li>
        </ul>
    </div>
</header> -->